<section class="container">
    <div class="detail">
        <div class="detail-container" *ngIf="pangolin !== null && pangolin !== undefined ">
            <div class="detail-img" >
                <img class="img-role" [src]="getImage(pangolin)" alt="Image rôle">
            </div>
            <div class="detail-info">
                <p class="detail-name">
                    Nom : {{ pangolin.pangolin_id == null ? "BUGGY" : pangolin.pangolin_id.name}}
                </p>
                <p class="detail-role">
                    Rôle : {{ pangolin.pangolin_id == null ? "BUGGY" : pangolin.pangolin_id.role | uppercase}}
                </p>
            </div>
            <div class="detail-score">
                <p class="score">
                    Score : {{ pangolin.points }}
                </p>
                <p class="ratio">
                    Ratio : {{ pangolin.victories/pangolin.defeates | number:'1.0-2' }}
                </p>
            </div>
            <div class="detail-action">
                <button class="btn primary" (click)="goToPangolinList()">Retour</button>
                <div *ngIf="pangolin._id !== player._id" class="button-friend">
                    <button *ngIf="!isFriend" (click)="addToFriend()" class="btn secondary">Ajouter aux amis</button>
                    <button *ngIf="isFriend" (click)="deleteToFriend()" class="btn secondary">Supprimer des amis</button>
                </div>
            </div>
        </div>
    </div>
    <div class="no-data-container">
        <h2 *ngIf='!pangolin' class="no-data">Aucun pangolin à afficher !</h2>
    </div>
</section>