<div class="container">
    <p>header works!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolorum est, eligendi obcaecati similique iure vero optio. Eius magni ipsa autem sapiente. Corporis quisquam possimus sit ipsum perspiciatis explicabo ullam.</p>
<a href="#">Acceuil</a>
<h1>World of Pangolins</h1>
<h2>World of Pangolins</h2>
<h3>World of Pangolins</h3>
<h4>World of Pangolins</h4>
<h5>World of Pangolins</h5>
<h6>World of Pangolins</h6>

<button class="btn primary">Jouer</button>
<button class="btn secondary">Retour</button>
<button class="btn-game">Jouer</button>
</div>
