<section class="container">
    <div class="donjon-container">
        <header class="title">
            <h1>
                Donjon
            </h1>
        </header>
    
        <div>
            <app-level-donjon (sendLevelOneToData)="scoreToEnd1()" (sendLevelTwoToData)="scoreToEnd2()" (sendLevelThreeToData)="scoreToEnd3()" (sendDisplayToData)="displayGameBoard()"></app-level-donjon>
        </div>

        <div *ngIf='gameBoard' class="game-board-container">
            <p class="score-reach">Nombre de PVs de l'adversaire : {{scoreToReach}}</p>
            <div class="opponent-card">
                <div class="opponent-img">
                    <img class="img-card" [src]="'../../../assets/donjon/'+opponentImg+'.png'" alt="Image rôle">
                </div>
                <div class="opponent-info">
                    <h4 class="opponent-name">
                        {{ opponent }}
                    </h4>
                    <p class="opponent-pv">
                        PVs : {{ scoreToReach - scorePlayer }}/{{ scoreToReach }}
                    </p>
                    <div class="progress-bar">
                        <div class="progress-bar-fill" [ngStyle]="{'width.%': 100 - 100 / scoreToReach * scorePlayer, 'background-color': scorePlayer == scoreToReach - 1 ? 'red' : 'green'}"></div>
                    </div>
                </div>
            </div>
            <div class="fight-card">
                <div *ngIf="!imgPlayer" class="pre-fight">
                    <h4 class="fight-img">
                        {{ opponent }}
                    </h4>
                    <p class="fight-para">
                        VS
                    </p>
                    <h4 class="fight-img">
                        {{ profil.pangolin_id.name }}
                    </h4>
                </div>

                <div *ngIf="imgPlayer" class="fight">
                    <div class="fight-img">
                        <img class="img-fight" [src]='"../../../assets/signes/"+imgPlayer+".png"' [alt]='"Image " + imgPlayer'>
                    </div>
                    <p class="fight-para">
                        VS
                    </p>
                    <div class="fight-img">
                        <img class="img-fight" [src]='"../../../assets/signes/"+imgOpponent+".png"' [alt]='"Image " + imgOpponent'>
                    </div>
                </div>

                <div *ngIf="imgPlayer" class="resultat">
                    <h4 class="affichage">
                        {{resultat}}
                    </h4>
                </div>
            </div>

            <div class="profil-card">
                <div class="profil-info">
                    <h4 class="profil-name">
                        {{ profil.pangolin_id.name }}
                    </h4>
                    <p class="profil-pv">
                        PVs : {{ 5 - scoreIa }}/5
                    </p>
                    <div class="progress-bar">
                        <div class="progress-bar-fill" [ngStyle]="{'width.%':  100 - 100 / 5 * scoreIa, 'background-color': scoreIa == 5 - 1 ? 'red' : 'green'}"></div>
                    </div>
                </div>
                <div class="profil-img">
                    <img class="img-card" [src]="getImage(profil)" alt="Image rôle">
                </div>
            </div>

            <div class="choice-card">
                <button class="choice-image" (click)="stoneCase()">
                    <img class="img-choice" src="../../../assets/signes/lance.png" alt="Image lance" >
                </button>
                <button class="choice-image" (click)="paperCase()">
                    <img class="img-choice" src="../../../assets/signes/arc.png" alt="Image arc" >
                </button>
                <button class="choice-image" (click)="scissorsCase()">
                    <img class="img-choice" src="../../../assets/signes/bouclier.png" alt="Image bouclier" >
                </button>
            </div>
        </div>
        
        <div *ngIf='bug && !gameBoard' class="no-game-board-container">
            <p>
                Oups, quelque chose c'est mal passé...
            </p>
        </div>
    
        <div>
            <app-end-donjon (sendResetToData)="resetStats()" [winOrLoos]="winLoos" [scoreIaFinal]='scoreIa' [scorePlayerFinal]='scorePlayer' ></app-end-donjon>
        </div>  
    </div>
</section>