<footer>
    <div class="container-footer">
        <div class="container-logo">
            <a routerLink="/">
                <img class="footer-logo" src="../../assets/logo/world-of-pangolin.png " alt="Logo WOP">
            </a>
        </div>
        <nav class="container-nav">
            <ul class="footer-nav">
              <li><a routerLink="/accueil">Accueil</a></li>
              <li><a routerLink="/donjon">Donjon</a></li>
              <li><a routerLink="/classement">Classement</a></li>
              <li><a routerLink="/profil">Profil</a></li>
            </ul>
        </nav>
        <div class="social-link">
            <a title="CV Arnaud POMPONIO" href="https://a-pompon.github.io/cv-react/" target="_blank" alt="CV"><span nz-icon nzType="link" nzTheme="outline"></span></a>
            <a title="Profil Linkedin" href="https://www.linkedin.com/in/pomponio-arnaud/" target="_blank"><span nz-icon nzType="linkedin" nzTheme="outline"></span></a>
            <a title="Lien Github" href="https://github.com/A-Pompon" target="_blank"><span nz-icon nzType="github" nzTheme="outline"></span></a>
            <a title="Lien Gitlab" href="https://gitlab.com/PomponArnaud" target="_blank"><span nz-icon nzType="gitlab" nzTheme="outline"></span></a>
        </div>
        <p class="copy">&copy; Arnaud POMPONIO 2022.</p>
    </div>
</footer>