<div class="container">
    <div class="not-found-container">
        <h2 class="not-found-text">
            *TOC TOC*      
        </h2>
        <div class="doors">
            <div class="door" appOpenDoor>
                <div class="handle"></div>
            </div>
            <div class="back-door">
                <img src="../../assets/roles/arnaud-transparent.png" alt="Arnaud image" class="not-found-img">
                <p class="not-found-para-back-door">
                    Te serais-tu égaré.. ?
                </p>
                <button routerLink="/" class="btn primary">Accueil</button>
            </div>
        </div>
    </div>
</div>
