<section class="container">
    <div class="profil-container">
        <header class="title">
            <h1>
                Profil
            </h1>
        </header>
        <div class="profil">
            <div class="profil-card" *ngIf="profil">
                <div class="img-info">
                    <div class="profil-img" >
                        <img class="img-role" [src]="getImage(profil)" alt="Image rôle">
                    </div>
                    <div class="profil-info">
                        <div class="profil-row">
                            <p class="profil-name">
                                Nom : {{ profil.pangolin_id.name }}
                            </p>
                            <button (click)="goUpdate()" class="btn primary">Modifier</button>
                        </div>
                        <div class="profil-row">
                            <p class="profil-role">
                                Rôle : {{ profil.pangolin_id.role | uppercase}}
                            </p>
                            <button (click)="goUpdate()" class="btn primary">Modifier</button>
                        </div>
                    </div>
                </div>
                <div class="profil-score">
                    <div class="info-score">
                        <p class="victory">
                            Victoire : {{ profil.victories }}
                        </p>
                        <p class="loose">
                            Défaite : {{ profil.defeates }}
                        </p>
                        <p class="ratio">
                            Ratio : {{ profil.victories/profil.defeates | number:'1.0-2' }}
                        </p>
                    </div>
                    <p class="score">
                        Score : {{ profil.points }}
                    </p>
                </div>
                <div class="profil-action">
                    <button class="btn-game" (click)="goGame()">Jouer</button>
                    <button class="btn secondary" (click)="logout()">Déconnexion</button>
                </div>
            </div>
        </div>
    </div>
</section>